body{
	background-image: url("wood_bkground.jpg");
	background-size: cover:
}
.container{
	width: 740px;
	height: 740px;
	border: 2px solid black;
	margin: 0 auto;
	background-color:#f5f6ce;
}

.board-sq{
	width: 55px;
	height: 55px;
	border: 2px solid green;
	margin: 3px;
}
.board-sq-rt{
	float: right;
}
.dice0{
	position:absolute;
	top: 0;
	left:0:
    width: 120px;
    height:auto;
  
    display:block;
}
#roll-val0{
	position: relative;
	font-size: 1.75em;
	font-weight:bold;
	bottom: 128px ;
	align-content: center;
	
	margin-left: 36%
	
}

#r0c0{
	background-color:#F7D356;
	text-align: center;
}
#player1{
	
	position: absolute;
	bottom: 5px; 
	z-index: 10;
	width: 25px;
	height: 25px;
}

#player1{
	transition: all 2s ease-in-out;
}
#player2{
	top: 5px;
	position: absolute;
	bottom: 31px; 
	z-index: 10;
	width: 25px;
	height: 25px;
}

#player2{
	transition: all 2s ease-in-out;
}
#message{
	margin-top: 30px;
	width: 400px;
    font-family: 'Signika', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	color: blue;
    text-align: center;
	text-decoration: blink;
}
#game-title{
    
	position: absolute;
	width: 350px;
	height: 60px;
	font-size: 3.25em;
	transform: rotate(45deg);
	bottom: 536px;
	left: 775px;
	background-color:#F7D356;
	border: 1px solid black;
    padding-left:29px;
}
